<!DOCTYPE html>
<html>
  <head>
    <title>GigaProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%= stylesheet_packs_with_chunks_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
